<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/styles.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
      <title>Contact</title> 
      <link rel="icon" type="image/x-icon" href="assets/img/wellness.png" /> 
  


      <style>
          header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: rgb(13, 27, 32);
  background-image: url("../assets/img/vegan.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
      </style>
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/wellness.png" /></a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
           
           
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="homepage.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="nutrition.html">Nutrition</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="fitness.html">Fitness</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="member.html">Members section</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="contactpage.html">Contact</a></li>
                        <li class="nav-item"><a class="nav-link portal-sign-in btn btn--full btn--ghost" href="log.html">Login</a></li>
                    </ul>
                </div>
            </div>

            
  
    

        
    <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="shoppingcard.html">
            <i class="fa fa-shopping-cart"></i> My Shopping Card
            <span class="badge badge-light"></span>
        </a>
    </form>
</div>
</div>
</nav>
    <header class="masthead">
        <div class="container"> 
            <section class="page-section bg-light" id="services">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Contact</h2>
                        <h3 class="section-subheading text-muted"> Discover our premises in Athens</h3>
                     </div>

                     <div class="container">
                       
                        <hr>
                          <div class="row">
                            <div class="col-sm-8">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.8810413550277!2d23.75062371532006!3d37.863073779743495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bfd1f4da2b59%3A0xfc9444a5e2fdf4bd!2sGrigoriou%20Lampraki%2025%2C%20Glifada%20166%2074!5e0!3m2!1sen!2sgr!4v1589879374260!5m2!1sen!2sgr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        <br>
                            <div class="col-sm-4" id="contact2">
                                <br>
                                <br>
                                <h4 class = "pt-2"> Address</h4>
                                <i class="fas fa-globe" style="color:#000"></i> <a href =https://www.google.com/maps/place/Grigoriou+Lampraki+25,+Glifada+166+74/data=!4m2!3m1!1s0x14a1bfd1f4da2b59:0xfc9444a5e2fdf4bd?sa=X&ved=2ahUKEwiezIajxr_pAhUSTcAKHQnoAsMQ8gEwAHoECAsQAQ>Grigoriou Lampraki 25, 166 74 Glyfada </a>
                                <br>
                              <br>
                              <h4 class="pt-2">Opening hours</h4>
                                <i class="fas fa-clock" style="color:#000"></i> <a href="#"> Monday-Friday 8:00-23:00
                                   <br> Saturday-Sunday 10:00-19:00 </a><br>
                                <br>
                                <h4 class="pt-2">Telephone:</h4>
                                <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> 2102112345 </a><br>
                                <br>
                                
                                <h4 class="pt-2">Email</h4>
                                <i class="fa fa-envelope" style="color:#000"></i> <a href=""> inspired@gmail.com</a><br>
                              </div>
                          </div>
                        </div>
                            </div>
            </section>
     <br>
     <br>                   
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Inspired 2020</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right"><a class="mr-3" href="#!">Privacy Policy</a><a href="#!">Terms of Use</a></div>
        </div>
    </div>
</footer>




 <!-- Bootstrap core JS-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
 <!-- Third party plugin JS-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
 <!-- Core theme JS-->
 <script src="js/scripts.js"></script>

</body>
</html>

            